<% provide(:page_heading, title) %> 
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= heading_title(yield(:page_heading)).last %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to 'HOME', potepan_path %>
          </li>
          <% heading_title(yield(:page_heading)).each do |permalink| %>
            <li class="active"><%= permalink %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</section>
